<tr>
  <td><%= i%></td>
  <td><a href="<%=obj.site%>" target="_blank"><%= obj.ch_name %></a></td>
  <td><%= @countries[obj.country_code] %></td>
  <td><%= obj.data_source %></td>
  <td><%= @levels[obj.level] %></td>
  <td><%= @hav_infos[obj.hav_infos] || '无' %></td>
  <td><%= @info_count[obj.id] %></td>
</tr>