<% provide(:title, "Information") %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>资讯列表</h5>
        </div>

        <div class="ibox-content pl15">
          <div class="bg-search">
          <%=form_tag url_for(action: action_name),:class=>"-form-horizontal",:method=>:get do%>
              <div id="rcontent" class="clear-p">

                <div class="col-md-2">
                  <div class="form-group mb0">
                  <select name="country_code" class="form-control chosen-select" data-placeholder="请选择国家">
                    <option value="">国家</option>
                    <%@countries.each do |k,v|%>
                      <option value="<%=k%>" <%= 'selected' if k==params[:country_code] %>><%=v%></option>
                    <%end%>
                  </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group mb0">
                  <select name="data_source" class="form-control chosen-select" data-placeholder="请选择来源">
                    <option value="">来源</option>
                    <%@data_sources.each do |x|%>
                      <option value="<%=x%>" <%= 'selected' if x==params[:data_source] %>><%=x%></option>
                    <%end%>
                  </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group mb0">
                  <select name="level" class="form-control chosen-select" data-placeholder="请选择等级">
                    <option value="">等级</option>
                    <%@levels.each do |k,v|%>
                      <option value="<%=k%>"  <%= 'selected' if k.to_s==params[:level] %>><%=v%></option>
                    <%end%>
                  </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group mb0">
                    <select name="hav_infos" class="form-control chosen-select" data-placeholder="有无新闻">
                      <option value="">有无新闻</option>
                      <%@hav_infos.each do |k,v|%>
                          <option value="<%=k%>" <%= 'selected' if k.to_s==params[:hav_infos] %>><%=v%></option>
                      <%end%>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="input-daterange input-group js-number-range">
                    <input type="text" placeholder="最小新闻量" name="min_count" class="form-control" value="<%= params[:min_count] %>">
                    <span class="input-group-addon">~</span>
                    <input type="text" placeholder="最大新闻量" name="max_count" class="form-control" value="<%= params[:max_count] %>">
                  </div>
                </div>


                <div class="col-md-4 mt10">
                  <div class="input-daterange input-group js-daterange">
                    <input type="text" class="form-control" name="start_date" value="<%= params[:start_date] || Date.today %>" placeholder="开始时间" onfocus="this.blur()" date-picker>
                    <span class="input-group-addon">~</span>
                    <input type="text" class="form-control" name="end_date" value="<%= params[:end_date] || Date.today %>" placeholder="结束时间" onfocus="this.blur()" date-picker>
                  </div>
                </div>

                <div class="col-md-2 mt10">
                  <div class="form-group mb0">
                    <select name="custom_domains" class="form-control chosen-select" data-placeholder="请选择自定义site">
                      <option value="">自定义site</option>
                      <%@custom_domains.each do |k,v|%>
                          <option value="<%=k%>" <%= 'selected' if k.to_s==params[:custom_domains] %>><%=k%></option>
                      <%end%>
                    </select>
                  </div>
                </div>

                <div class="col-md-4 mt10">
                  <input type="submit" class="btn btn-primary btn-warning mb0" value="搜索">
                  <%if InformationStatistics.switch == 1%>
                    <a href="javascript:void(0)" class="btn btn-primary mb0 ml10 js-btn-update" >更新中</a>
                  <%elsif InformationStatistics.switch == 2%>
                    <a href="<%= update_statistic_information_statistics_path %>" class="btn btn-primary mb0 ml10 js-btn-update" >更新</a>
                  <%elsif InformationStatistics.switch == 3%>
                    <a href="<%= update_statistic_information_statistics_path %>" class="btn btn-primary mb0 ml10 js-btn-update" >更新失败</a>
                  <%else%>
                    <a href="<%= update_statistic_information_statistics_path %>" class="btn btn-primary mb0 ml10 js-btn-update" >更新</a>
                  <%end%>
                  
                </div>
              </div>

          <%end%>
          </div>
        </div>
        <div id="result_release">
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">
            <!-- <li class="tab-li <%='active' if action_name == 'all_info'%>">
              <a href="<%= all_info_information_statistics_path %>" data-target="all-page">全部资讯列表</a>
            </li> -->
            <li class="tab-li <%='active' if action_name == 'index'%>">
              <a href="<%= information_statistics_path %>" data-target="all-page">媒体资讯列表</a>
            </li>
            <li class="tab-li <%='active' if action_name == 'govern'%>">
              <a href="<%= govern_information_statistics_path %>" data-target="all-page">政府资讯列表</a>
            </li>
              </ul>

            <div class="ibox-content p15-0 all-page table-content">
              <%= render "list_body" %>
            </div>

        </div>
        </div>
      </div>
    </div>
    </div>
  </div>

<div class="modal fade" id="modal_edit_mark" tabindex="-1" role="dialog" aria-labelledby="modal_edit_markLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_edit_markLabel">编辑标注</h4>
      </div>
      <%= form_tag url_for(action: 'remark'),:class=>"form-horizontal",:method=>:post do %>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-md-2 control-label">标注</label>
            <div class="col-md-10">
              <textarea name="remark" rows="10" placeholder="请添加标注" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_edit_data_source" tabindex="-1" role="dialog" aria-labelledby="modal_edit_data_sourceLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_edit_data_sourceLabel">编辑来源</h4>
      </div>
      <%= form_tag url_for(action: 'update_data_source'),:class=>"form-horizontal",:method=>:post do %>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-md-2 control-label">来源</label>
            <div class="col-md-10">
              <select name="data_source" class="form-control chosen-select" data-placeholder="请选择来源">
                <option value="">来源</option>
                <%@data_sources.each do |x|%>
                  <option value="<%=x%>" ><%=x%></option>
                <%end%>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <% content_for :javascript do %>
    <script>

$(document)
.on("click",'.icon-more',function(e){
   e.preventDefault();
    var $this = $(this), $thisMoreUl = $this.closest('td').find('.more-ul');
    var isDn = $thisMoreUl.hasClass('dn');
    $('.more-ul').addClass('dn');
    if (isDn) {
      $thisMoreUl.removeClass('dn');
    }
    //点击其他的地方关闭更多
    $(document).on('click', function moreShow(e) {
      var $target = $(e.target)
        if ($target.closest('.pos-r').length == 0) {
          $('.more-ul').addClass('dn');
          $(document).off('click', moreShow);
        }
    })
})
.on('click', '.js-remark, .js-edit-data-source', function(e) {
  e.preventDefault();
  var $this = $(this);
  var val = $this.data('value') || '';
  var url = $this.prop('href');
  var isRemark = $this.hasClass('js-remark');
  var $modal = isRemark ? $('#modal_edit_mark') : $('#modal_edit_data_source');
  var $form = $modal.find('form');

  if(isRemark) {
    $form.find('[name="remark"]').val(val);
  } else {
    $form.find('[name="data_source"]').val(val).trigger('chosen:updated');
  }

  $modal.modal({backdrop: 'static', keybaord: false});

  $form.off('submit.edit').on('submit.edit', function(e) {
    e.preventDefault();
    $.ajax({
      method: 'post',
      url: url,
      data: $form.serialize(),
      processData: false,
      dataType: 'json'
    }).done(function(res) {
      if(res.type === 'success') {
        toastr.success(res.message);
        setTimeout(function() {
          location.reload();
        }, 1500);
      } else {
        toastr.error(res.message);
      }
    });
  });
});

$('.chosen-select').chosen({width: "100%",disable_search_threshold: 10});

initStartEndDate($('.js-daterange'));
initNumberRange($('.js-number-range'));

function initStartEndDate($wrap) {
  $.fn.datepicker.dates['zh-cn'] = {
    days: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
    daysShort: ["日", "一", "二", "三", "四", "五", "六", "七"],
    daysMin: ["日", "一", "二", "三", "四", "五", "六", "七"],
    months: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
    monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
    today: "今天",
    titleFormat: 'yyyy年 MM',
    clear: "清除"
  };

  var endDate = new Date();
  var startDate = new Date(endDate.getTime() - 15 * 24 * 60 * 60 * 1000);

  var config = {
    language: 'zh-cn',
    format: "yyyy-mm-dd",
    autoclose: true,
    todayHighlight: true,
    endDate: endDate,
    startDate: startDate,
    clearBtn: true,
    container: 'body'
  };

  $wrap.each(function(index, item) {
    var $item = $(item);
    var $datepicker = $item.find('[date-picker]');
    var $start_date = $datepicker.eq(0);
    var $end_date = $datepicker.eq(1);

    initDatePicker($start_date, $end_date);
  });

  function initDatePicker($start_date, $end_date) {
    $start_date.datepicker($.extend(true, {}, config))
    .on('changeDate', function(e) {
      var start = e.date;
      var end = $end_date.datepicker('getDate');
      var startTime = start && start.getTime();
      if(startTime && end && startTime > end.getTime()) {
        $end_date.datepicker('update', start);
      }
    });
    
    $end_date.datepicker($.extend(true, {}, config))
    .on('changeDate', function(e) {
      var start = $start_date.datepicker('getDate');
      var end = e.date;
      var endTime = end && end.getTime();
      if(endTime && start && endTime < start.getTime()) {
        $start_date.datepicker('update', end);
      }
    });
  }
}

function initNumberRange($wrap) {
  $wrap.each(function(index, item) {
    var $item = $(item);
    var $input = $item.find('input');
    var $minInput = $input.eq(0);
    var $maxInput = $input.eq(1);

    $input.on('input.number_input change.number_input', change);

    initNumberInput($minInput, $maxInput);
  });

  function initNumberInput($minInput, $maxInput) {
    $minInput.on('numberChange', function(e, val, isChangeEvent) {
      if(isChangeEvent) {
        var min = val == null ? '' : (val + '');
        var max = $maxInput.val() || '';
        if(min && max && Number(max) < Number(min)) {
          $maxInput.val(min);
        }
      }
    });

    $maxInput.on('numberChange', function(e, val, isChangeEvent) {
      if(isChangeEvent) {
        var min = $minInput.val() || '';
        var max = val == null ? '' : (val + '');
        if(min && max && Number(max) < Number(min)) {
          $minInput.val(max);
        }
      }
    });
  }

  function change(e) {
    var $input = $(e.target);
    var val = ($input.val() || '').trim();
    var isEmptyString = val.length === 0;

    if(isEmptyString) {
      return setValue($input, null);
    }

    if(e.type === 'input') {
      if(val.match(/^(\-0?)$/)) {
        return false;
      }
    }

    val = Number(val);
    isNaN(val) ? $input.val($input.data('currentVal')) : setValue($input, val, e.type === 'change');
  }

  function init($input) {
    var val = $input.val();
    $input.data('currentVal', val);
    if(val.length === 0) {
      setValue($input, null);
    } else {
      val = Number(val);
      isNaN(val) ? $input.val($input.data('currentVal')) : setValue($input, val);
    }
  }

  function setValue($input, val, isChangeEvent) {
    $input.data('currentVal', val);
    $input.val(val);
    $input.trigger('numberChange', [val, isChangeEvent]);
  }
}

var currentSwitchStatus = <%== InformationStatistics.switch %>;

if(currentSwitchStatus == 1) {
  updateButtonStatus($('.js-btn-update'));
}

function updateButtonStatus($btn) {
  var statusMap = {
    '1': '更新中',
    '2': '更新',
    '3': '更新失败'
  };
  var url = '<%= update_statistic_information_statistics_path %>';
  setTimeout(function() {
    $.ajax({
      method: 'get',
      url: '/information_statistics/switch_status',
      // url: window.location.href,
      dataType: 'json'
    }).done(function(res) {
      if(statusMap[res.status]) {
        $btn.prop('href', res.status == 1 ? 'javascript: void(0)' : url);
        $btn.html(statusMap[res.status]);
      } else {
        $btn.prop('href', url);
        $btn.html('更新');
      }

      if(res.status == 1) {
        updateButtonStatus($btn);
      }
      // $(".all-page").html(res)
    });
  }, 30000);

  setTimeout(function(){
    $.ajax({
      method: 'get',
      url: window.location.href,
    }).done(function(data){
      $(".all-page").html(data);
    })
  },10000)
}
    </script>
  <% end %>

