<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>列表demo</h5>
        </div>

        <div class="ibox-content pl15">
          <div class="bg-search">
          <%=form_tag url_for(action: action_name),:class=>"-form-horizontal",:method=>:post do%>
              <div id="rcontent" class="clear-p">

                <div class="col-md-2">
                  <div class="form-group mb0">
                  <select name="country_code" class="form-control chosen-select" data-placeholder="请选择国家">
                    <option value="">国家</option>
                    <%@countries.each do |k,v|%>
                      <option value="<%=k%>" <%= 'selected' if k==params[:country_code] %>><%=v%></option>
                    <%end%>
                  </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group mb0">
                  <select name="data_source" class="form-control chosen-select" data-placeholder="请选择来源">
                    <option value="">来源</option>
                    <%@data_sources.each do |x|%>
                      <option value="<%=x%>" <%= 'selected' if x==params[:data_source] %>><%=x%></option>
                    <%end%>
                  </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group mb0">
                  <select name="level" class="form-control chosen-select" data-placeholder="请选择等级">
                    <option value="">等级</option>
                    <%@levels.each do |k,v|%>
                      <option value="<%=k%>"  <%= 'selected' if k.to_s==params[:level] %>><%=v%></option>
                    <%end%>
                  </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group mb0">
                    <select name="hav_infos" class="form-control chosen-select" data-placeholder="有无新闻">
                      <option value="">有无新闻</option>
                      <%@hav_infos.each do |k,v|%>
                          <option value="<%=k%>" <%= 'selected' if k==params[:hav_infos] %>><%=v%></option>
                      <%end%>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="input-daterange input-group">
                    <input type="text" class="form-control" name="start_date" value="<%= params[:start_date] %>" placeholder="开始时间" onfocus="this.blur()">
                    <span class="input-group-addon">~</span>
                    <input type="text" class="form-control" name="end_date" value="<%= params[:end_date] %>" placeholder="结束时间" onfocus="this.blur()">
                  </div>
                </div>

                <div class="col-mb-4">
                  <input type="submit" class="btn btn-primary btn-warning mb0" value="搜索">
                  <a href="<%= update_statistic_information_statistics_path %>" class="btn btn-primary mb0" data-remote="true">更新</a>
                </div>
              </div>

          <%end%>
          </div>
        </div>
        <div id="result_release">
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">
            <li class="tab-li <%='active' if action_name != 'govern'%>">
              <a href="/information_statistics/index" data-target="all-page">媒体资讯列表</a>
            </li>
            <li class="tab-li <%='active' if action_name == 'govern'%>">
              <a href="/information_statistics/govern" data-target="all-page">政府资讯列表</a>
            </li>
              </ul>

            <div class="ibox-content p15-0 all-page table-content">
              <%= render "list_body" %>
            </div>

        </div>
        </div>
      </div>
    </div>
    </div>
  </div>
   <!--这里是提示框-->
      <div id="modal-form-remove" class="modal fade in" aria-hidden="true">
        <div class="modal-dialog" style="width: 460px;top: 190px;">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <h3 class="m-t-none m-b">提示</h3>
                  <div class="hr-line-dashed"></div>
                  <p class="text-center">
                  <strong style="font-size: 14px;">您确定要删除<span class="remove-html"></span>吗？</strong></p>
                  <div class="hr-line-dashed"></div>
                  <div>
                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs sure-remove" type="button" style="margin-left: 20px;">
                                                                                           
                      <strong>确定</strong></button>
                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs cancel-remove" type="button"  style="">
                                                                                            
                      <strong>取消</strong></button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="modal-form-add-sql" class="modal fade in" aria-hidden="true">
        <div class="modal-dialog" style="width: 800px;overflow-y: auto;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">添加列表项</h4>
            </div>
            <div class="modal-body">
              <!-- modal-body -->
              <%=render "form_body"%>
            </div>
          </div>
          </div>
      </div>
      <div id="modal-form-edit-obj" class="modal fade" aria-hidden="true">
        <div class="modal-dialog" style="width: 800px;overflow-y: auto;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">编辑列表项</h4>
            </div>
            <div class="modal-body" id="edit_obj">
            </div>
          </div>
          </div>
      </div>
  <% content_for :javascript do %>
    <script>

$(document)
.on("click",'.icon-more',function(e){
   e.preventDefault();
    var $this = $(this), $thisMoreUl = $this.closest('td').find('.more-ul');
    var isDn = $thisMoreUl.hasClass('dn');
    $('.more-ul').addClass('dn');
    if (isDn) {
      $thisMoreUl.removeClass('dn');
    }
    //点击其他的地方关闭更多
    $(document).on('click', function moreShow(e) {
      var $target = $(e.target)
        if ($target.closest('.pos-r').length == 0) {
          $('.more-ul').addClass('dn');
          $(document).off('click', moreShow);
        }
    })
})
.on("click",".remove-line",function(e){
  
    e.preventDefault();

    //删除本行数据
    //var _$this = $(this);
    var $this = $(this),html = $this.closest('tr').find('td').first().html();
    var $modal = $('#modal-form-remove');
    $modal.find('.remove-html').html(html);
    $modal.modal("show");

    $('.sure-remove').off().on('click', function (e) {
       e.preventDefault();
      var _this=$(this);
      //需要传到数据库中，需要后台传输数据，局部刷新页面
      var url = $this.attr("href");
      if (url != "##") {
        //              alert(url);
        $.get(url, function (data) {
          if (data.message=="SUCCESS"){
            _this.closest('.modal').modal("hide");
            $this.closest('tr').remove();
          }
        })
      }
     
    });
  
}).on("click",'.cancel-remove',function(e){
   var $modal = $('#modal-form-remove');
      $modal.modal("hide");
});


$('.add-sql').on('click', function (e) {
  e.preventDefault();
  var $modal = $('#modal-form-add-sql');
  $modal.modal("show");
})

$('.chosen-select').chosen({width: "100%",disable_search_threshold: 10});
    </script>
  <% end %>

