<tr>
  <td><%= spider.name%></td>
  <td><%= spider.network_environment_cn %></td>
  <td><%= spider.template_name %></td>
  <td><%= spider.control_template_name%></td>
  <td class="pos-r">
    <a href="##">
      <i class="icon_data_analysis icon-more"></i>
    </a>
    <ul class="more-ul dn">
      <li>
        <%=link_to(base_spider_path(spider),:class=>"remove-line") do%>删除<%end%>
      </li>
    </ul>
  </td>
</tr>
