<tr>
  <td><%= spider_task.special_tag%></td>
  <td><%= spider_task.level %></td>
  <td><%= spider_task.keyword %></td>
  <td><%=raw status_html(spider_task)%></td>
  <td><%= spider_task.success_count %></td>
  <td><%= spider_task.fail_count %></td>
  <td><%= show_format_time(spider_task.created_at) %></td>
</tr>

