<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <!-- 添加form -->
        <%= form_for(@template, url: "",:html=>{:class=>"form-horizontal spider-task-form"}) do |f| %>
          <div class="form-group">
            <label class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
              <%= f.text_field :name, :placeholder=>"名称",:class=>"form-control"%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">位置</label>
            <div class="col-sm-10">
              <div class="i-checks inline">
                <label class="control-label">
                  <%= f.radio_button(:is_internal, true, :checked=> true)%>
                  <i></i> 境内
                </label>
              </div>
              <div class="i-checks inline">
                <label class="control-label">
                  <%= f.radio_button(:is_internal, false)%>
                  <i></i> 境外
                </label>
              </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">绑定IP</label>
            <div class="col-sm-10">
              <div class="i-checks inline">
                <label class="control-label">
                  <%= f.radio_button(:is_bind_ip, false, :checked=> true)%>
                  <i></i> 否
                </label>
              </div>
              <div class="i-checks inline">
                <label class="control-label">
                  <%= f.radio_button(:is_bind_ip, true)%>
                  <i></i> 是
                </label>
              </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">远端更新账号信息</label>
            <div class="col-sm-10">
              <div class="i-checks inline">
                <label class="control-label">
                  <%= f.radio_button(:is_reset, false, :checked=> true)%>
                  <i></i> 否
                </label>
              </div>
              <div class="i-checks inline">
                <label class="control-label">
                  <%= f.radio_button(:is_reset, true)%>
                  <i></i> 是
                </label>
              </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">有无账号</label>
            <div class="col-sm-10">
              <div class="i-checks inline">
                <label class="control-label">
                  <%= f.radio_button(:has_account, true, :checked => true)%>
                  <i></i> 有
                </label>
              </div>
              <div class="i-checks inline">
                <label class="control-label">
                  <%= f.radio_button(:has_account, false)%>
                  <i></i> 无
                </label>
              </div>
            </div>
          </div>
          <div id="with_account">
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">窗口设置</label>
              <div class="col-sm-3">
                <%= f.text_field :window_size, :value => 1,  :placeholder=>"窗口大小", :class=>"form-control"%>
              </div>
              <div class="col-sm-5">
                <% ControlTemplate.window_types.each do |k, v|  %>
                  <div class="i-checks inline">
                    <label class="control-label">
                      <%= f.radio_button(:window_type, k , :checked=> (k == 1))%>
                      <i></i> <%= v %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">窗口请求次数</label>
              <div class="col-sm-10">
                <%= f.text_field :max_count, :placeholder=>"-1为不限制",:class=>"form-control"%>
              </div>
            </div>
          </div>

          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <div class="col-sm-2 col-sm-offset-10">
              <button class="btn btn-primary submit_btn" type="button">保存</button>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>



