<% provide(:title, "Information") %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>域名对应列表</h5>
        </div>

        <div class="ibox-content pl15">
          <div class="bg-search">

          </div>
        </div>
        <div id="result_release">
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">

            <li class="tab-li <%='active' if action_name == 'index'%>">
              <a href="<%= domain_data_path %>" data-target="all-page">域名对应列表</a>
            </li>

            </ul>

            <div class="ibox-content p15-0 all-page table-content">
              <%= render "list_body" %>
            </div>

        </div>
        </div>
      </div>
    </div>
    </div>
  </div>

<div class="modal fade" id="modal_edit_mark" tabindex="-1" role="dialog" aria-labelledby="modal_edit_markLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_edit_markLabel">编辑标注</h4>
      </div>
      <%= form_tag url_for(action: 'remark'),:class=>"form-horizontal",:method=>:post do %>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-md-2 control-label">标注</label>
            <div class="col-md-10">
              <textarea name="remark" rows="10" placeholder="请添加标注" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      <% end %>
    </div>
  </div>
</div>


<% content_for :javascript do %>
<script>
$(document)
.on("click",'.icon-more',function(e){
   e.preventDefault();
    var $this = $(this), $thisMoreUl = $this.closest('td').find('.more-ul');
    var isDn = $thisMoreUl.hasClass('dn');
    $('.more-ul').addClass('dn');
    if (isDn) {
      $thisMoreUl.removeClass('dn');
    }
    //点击其他的地方关闭更多
    $(document).on('click', function moreShow(e) {
      var $target = $(e.target)
        if ($target.closest('.pos-r').length == 0) {
          $('.more-ul').addClass('dn');
          $(document).off('click', moreShow);
        }
    })
})
.on('click', '.js-remark, .js-edit-data-source', function(e) {
  e.preventDefault();
  var $this = $(this);
  var val = $this.data('value') || '';
  var url = $this.prop('href');
  var isRemark = $this.hasClass('js-remark');
  var $modal = isRemark ? $('#modal_edit_mark') : $('#modal_edit_data_source');
  var $form = $modal.find('form');
  var $field = isRemark ? $form.find('[name="remark"]') : $form.find('[name="data_source[]"]');
  if(isRemark) {
    $field.val(val);
  } else {
    (val || '').split(',').forEach(function(item) {
      $field.children().filter('[value="'+ item +'"]').prop('selected', true);
    });
    $field.trigger('chosen:updated');
  }

  $modal.modal({backdrop: 'static', keybaord: false});

  $form.off('submit.edit').on('submit.edit', function(e) {
    e.preventDefault();
    $.ajax({
      method: 'post',
      url: url,
      data: $form.serialize(),
      processData: false,
      dataType: 'json'
    }).done(function(res) {
      if(res.type === 'success') {
        toastr.success(res.message);
        
        var $tr = $this.closest('tr');
        if(isRemark) {
          $tr.find('td').eq(5).prop('title', $field.val());
        } else {
          $tr.find('td').eq(3).html(($field.val() || '').join(','));
        }

        $modal.modal('hide');

      } else {
        toastr.error(res.message);
      }
    });
  });
});

$('.chosen-select').chosen({width: "100%",disable_search_threshold: 10});

initStartEndDate($('.js-daterange'));
initNumberRange($('.js-number-range'));

function initStartEndDate($wrap) {
  $.fn.datepicker.dates['zh-cn'] = {
    days: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
    daysShort: ["日", "一", "二", "三", "四", "五", "六", "七"],
    daysMin: ["日", "一", "二", "三", "四", "五", "六", "七"],
    months: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
    monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
    today: "今天",
    titleFormat: 'yyyy年 MM',
    clear: "清除"
  };

  var endDate = new Date();
  var startDate = new Date(endDate.getTime() - 15 * 24 * 60 * 60 * 1000);

  var config = {
    language: 'zh-cn',
    format: "yyyy-mm-dd",
    autoclose: true,
    todayHighlight: true,
    endDate: endDate,
    startDate: startDate,
    clearBtn: true,
    container: 'body'
  };

  $wrap.each(function(index, item) {
    var $item = $(item);
    var $datepicker = $item.find('[date-picker]');
    var $start_date = $datepicker.eq(0);
    var $end_date = $datepicker.eq(1);

    initDatePicker($start_date, $end_date);
  });

  function initDatePicker($start_date, $end_date) {
    $start_date.datepicker($.extend(true, {}, config))
    .on('changeDate', function(e) {
      var start = e.date;
      var end = $end_date.datepicker('getDate');
      var startTime = start && start.getTime();
      if(startTime && end && startTime > end.getTime()) {
        $end_date.datepicker('update', start);
      }
    });
    
    $end_date.datepicker($.extend(true, {}, config))
    .on('changeDate', function(e) {
      var start = $start_date.datepicker('getDate');
      var end = e.date;
      var endTime = end && end.getTime();
      if(endTime && start && endTime < start.getTime()) {
        $start_date.datepicker('update', end);
      }
    });
  }
}

function initNumberRange($wrap) {
  $wrap.each(function(index, item) {
    var $item = $(item);
    var $input = $item.find('input');
    var $minInput = $input.eq(0);
    var $maxInput = $input.eq(1);

    $input.on('input.number_input change.number_input', change);

    initNumberInput($minInput, $maxInput);
  });

  function initNumberInput($minInput, $maxInput) {
    $minInput.on('numberChange', function(e, val, isChangeEvent) {
      if(isChangeEvent) {
        var min = val == null ? '' : (val + '');
        var max = $maxInput.val() || '';
        if(min && max && Number(max) < Number(min)) {
          $maxInput.val(min);
        }
      }
    });

    $maxInput.on('numberChange', function(e, val, isChangeEvent) {
      if(isChangeEvent) {
        var min = $minInput.val() || '';
        var max = val == null ? '' : (val + '');
        if(min && max && Number(max) < Number(min)) {
          $minInput.val(max);
        }
      }
    });
  }

  function change(e) {
    var $input = $(e.target);
    var val = ($input.val() || '').trim();
    var isEmptyString = val.length === 0;

    if(isEmptyString) {
      return setValue($input, null);
    }

    if(e.type === 'input') {
      if(val.match(/^(\-0?)$/)) {
        return false;
      }
    }

    val = Number(val);
    isNaN(val) ? $input.val($input.data('currentVal')) : setValue($input, val, e.type === 'change');
  }

  function init($input) {
    var val = $input.val();
    $input.data('currentVal', val);
    if(val.length === 0) {
      setValue($input, null);
    } else {
      val = Number(val);
      isNaN(val) ? $input.val($input.data('currentVal')) : setValue($input, val);
    }
  }

  function setValue($input, val, isChangeEvent) {
    $input.data('currentVal', val);
    $input.val(val);
    $input.trigger('numberChange', [val, isChangeEvent]);
  }
}

var currentSwitchStatus = <%== InformationStatistics.switch %>;

if(currentSwitchStatus == 1) {
  updateButtonStatus($('.js-btn-update'));
}

function updateButtonStatus($btn) {
  var statusMap = {
    '1': '更新中',
    '2': '更新',
    '3': '更新失败'
  };
  var url = '<%= update_statistic_information_statistics_path %>';
  setTimeout(function() {
    $.ajax({
      method: 'get',
      url: '/information_statistics/switch_status',
      // url: window.location.href,
      dataType: 'json'
    }).done(function(res) {
      if(statusMap[res.status]) {
        $btn.prop('href', res.status == 1 ? 'javascript: void(0)' : url);
        $btn.html(statusMap[res.status]);
      } else {
        $btn.prop('href', url);
        $btn.html('更新');
      }

      if(res.status == 1) {
        updateButtonStatus($btn);
      }
      // $(".all-page").html(res)
    });
  }, 30000);

  setTimeout(function(){
    $.ajax({
      method: 'get',
      url: window.location.href,
    }).done(function(data){
      $(".all-page").html(data);
    })
  },10000)
}
    </script>
  <% end %>

