<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <!-- 添加form -->
        <%= form_for(@spider,:html=>{:class=>"form-horizontal"}) do |f| %>
          <div class="form-group">
            <label class="col-sm-2 control-label">爬虫名</label>
            <div class="col-sm-10">
              <%= f.text_field :spider_name,:placeholder=>"爬虫名",:class=>"form-control",:required=>true %>  
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">爬虫类型</label>
            <div class="col-sm-10">
              <%Spider.spider_types.each_with_index do |k,i|%>
                <div class="i-checks inline">
                  <label class="control-label"> 
                    <%= f.radio_button(:spider_type, k.last,:checked=>(@spider.spider_type.blank? ? (i==0) : (@spider.spider_type == k.last)))%>
                    <i></i> <%=k.first%>
                  </label>
                </div>
              <%end%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">爬虫分类</label>
            <div class="col-sm-10">
              <%= f.select(:category,Spider.categories.to_a,{},{class: "form-control m-b"}) %>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">境外抓取</label>
            <div class="col-sm-10">
              <%Spider.network_environments.each do |k,v|%>
                <div class="i-checks inline">
                  <label class="control-label"> 
                    <%= f.radio_button(:network_environment, v)%>
                    <i></i> <%=k%>
                  </label>
                </div>
              <%end%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">代理使用</label>
            <div class="col-sm-10">
              <%{"是"=>true,"否"=>false}.each do |k,v|%>
                <div class="i-checks inline">
                  <label class="control-label"> 
                    <%= f.radio_button(:proxy_support, v)%>
                    <i></i> <%=k%>
                  </label>
                </div>
              <%end%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">账号控制模板</label>
            <div class="col-sm-10">
              <%= f.select(:control_template_id, @templates, {:include_blank => '选择'},{class: "form-control m-b"}) %>
            </div>
          </div>

          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">关键词包含</label>
            <div class="col-sm-10">
              <%{"是"=>true,"否"=>false}.each do |k,v|%>
                <div class="i-checks inline">
                  <label class="control-label"> 
                    <%= f.radio_button(:has_keyword, v)%>
                    <i></i> <%=k%>
                  </label>
                </div>
              <%end%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">模板名称</label>
            <div class="col-sm-10">
              <%= f.text_field :template_name,:placeholder=>"模板名称",:class=>"form-control",:required=>true %>  
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">附加条件</label>
            <div class="col-sm-10">
             <%=f.text_area :additional_function,:class=>"form-control",:value=>(@spider.additional_function.blank? ? "":@spider.additional_function.to_json) %>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <label class="col-sm-2 control-label">说明</label>
            <div class="col-sm-10">
             <%=f.text_area :instruction,:class=>"form-control"%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
              <div class="col-sm-2 col-sm-offset-10">
                  <button class="btn btn-primary" type="submit">保存</button>
              </div>
          </div>
       <%end%>
      </div>
    </div>
  </div>

</div>
