<td><%= spider_cycle_task.special_tag%></td>
<td><%= spider_cycle_task.spider.spider_name%></td>
<td><%= spider_cycle_task.level %></td>
<td  data-toggle="tooltip"  data-container="body" data-placement="bottom"  title="
  <div style='word-wrap:break-word'> <%=spider_cycle_task.keyword%></div>"><%= truncate_utf(spider_cycle_task.keyword,10,"...") %></td>
<td><%= spider_cycle_task.period %></td>
<td><%= show_format_time(spider_cycle_task.next_time) %></td>
<td><%= raw status_html(spider_cycle_task)%></td>
<td><%= show_format_time(spider_cycle_task.created_at) %></td>
<td class="pos-r">
  <a href="##">
    <i class="icon_data_analysis icon-more"></i>
  </a>
  <ul class="more-ul dn">
  <% if spider_cycle_task.can_start? %>
   <li class="bor-b">
      <%= link_to(start_spider_spider_cycle_task_path(spider_cycle_task.spider, spider_cycle_task),:title=>"启动",:remote=>true) do  %>
       <!--  <i class="fa fa-play"></i> -->
        启动
      <%end%>
    </li>
  <% end %>
  <% if spider_cycle_task.can_stop? %>
   <li class="bor-b">
      <%= link_to(stop_spider_spider_cycle_task_path(spider_cycle_task.spider, spider_cycle_task),:title=>"暂停",:remote=>true) do %>
       <!--  <i class="fa fa-play"></i> -->
        暂停
      <%end%>
    </li>
  <% end %>
    <li>
      <%=link_to(spider_spider_cycle_task_path(spider_cycle_task.spider, spider_cycle_task),:class=>"remove-line") do%>删除<%end%>
    </li>

  </ul>
</td>
