<tr>
  <td><%= spider_cycle_task.special_tag%></td>
  <td><%= spider_cycle_task.spider.spider_name%></td>
  <td><%= spider_cycle_task.level %></td>
  <td><%= spider_cycle_task.keyword %></td>
  <td><%= spider_cycle_task.period %></td>
  <td><%= show_format_time(spider_cycle_task.created_at) %></td>
  <td>
    <% if spider_cycle_task.can_start? %>
      <%= link_to(start_spider_spider_cycle_task_path(spider_cycle_task.spider, spider_cycle_task),:title=>"启动",:class=>"label label-info") do %>
     <!--  <i class="fa fa-play"></i> -->
      启动
      <%end%>
    <% end %>

    <% if spider_cycle_task.can_stop? %>
      <%= link_to(stop_spider_spider_cycle_task_path(spider_cycle_task.spider, spider_cycle_task),:title=>"暂停",:class=>"label label-warning") do %>
      <!--  <i class="fa fa-pause"></i> -->
      暂停
      <%end%>
    <% end %>
  </td>
</tr>