<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <!-- 添加form -->
        <%= form_for(@spider_task,url: "",:html=>{:class=>"form-horizontal spider-task-form"}) do |f| %>
          <div class="form-group">
            <label class="col-sm-2 control-label">选择模版</label>
            <div class="col-sm-10">
              <%= f.select(:spider_id,Spider.all.collect{|x| [x.spider_name,x.id]},{include_blank: "请选择模版"},{class: "form-control m-b spider",:onchange=>"get_spider()"}) %>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="keywords_inputs"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">优先级</label>
            <div class="col-sm-10">
              <div id="iconrange_spider_task_level_num"></div>
              <%= f.hidden_field :level,:class=>"level_num"%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">重试次数</label>
            <div class="col-sm-10">
              <div id="iconrange_spider_task_retry_num"></div>
              <%= f.hidden_field :max_retry_count, :class=>"retry_num"%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">特殊标签</label>
            <div class="col-sm-10">
              <%= f.text_field :special_tag,:placeholder=>"特殊标签",:class=>"form-control"%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="tags_inputs"></div>
          <div class="form-group">
            <div class="col-sm-2 col-sm-offset-10">
              <button class="btn btn-primary submit_btn" type="button">保存</button>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
<div class="hide keywords">
  <div class="form-group ">
    <label class="col-sm-2 control-label">关键词</label>
    <div class="col-sm-10">
      <input placeholder="输入关键词(多关键词以英文','分割)" class="form-control" type="text" name="spider_task[keyword]" id="spider_task_keyword">
    </div>
  </div>
  <div class="hr-line-dashed"></div>
</div>
<% content_for :javascript do %>
  <script type="text/javascript">
    function get_spider () {
         var spider_id = $('#spider_task_spider_id').val();
         if (spider_id!=""){
             url  = '/spiders/'+ spider_id +'/spider_tasks'
             $('.spider-task-form').attr('action',url);
             $.ajax({
                         url:"/tasks/get_spider",
                         data:{id:spider_id},
                         type:"get",
                         dataType:"js",
                         success:function(result){
                          // if (result=="true"){
                          //    $(".keywords_inputs").html($('.keywords').html());
                          // }else{
                          //    $(".keywords_inputs").html('');
                          // }
    
                          }
                    });
         }
      }
    $("#iconrange_spider_task_level_num").ionRangeSlider({
    min: 1,
    max: 10,
    from: <%=raw @spider_task.level.to_i%>,
    //postfix: "",
    grid: true,
    grid_num: 9,
    onFinish: function (data) {
    $(".level_num").val(data.from);
    }
    });
    $("#iconrange_spider_task_retry_num").ionRangeSlider({
    min: 1,
    max: 10,
    from: <%=raw @spider_task.max_retry_count.to_i%>,
    //postfix: "",
    grid: true,
    grid_num: 9,
    onFinish: function (data) {
    $(".retry_num").val(data.from);
    }
    });
  </script>
<%end%>