<%if @spider.has_time_limit%>
  <%time = Time.now.to_i%>
  <div class="form-group">
    <label class="col-sm-2 control-label">时间区间</label>
    <div class="col-sm-5">
      <div id="ionrange_3"></div>
      <div class="input-group date" id="begin_date_<%=time%>">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span> <input class="form-control" value="<%=show_format_time(Date.today)%>" type="text" name="begin_time" id="index_begin_time">
      </div>
    </div>
    <div class="col-sm-5">
      <div id="ionrange_3"></div>
      <div class="input-group date" id="end_date_<%=time%>">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span> <input class="form-control" value="<%=show_format_time(Date.today)%>" type="text" name="end_time" id="index_end_time">
      </div>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

  <script type="text/javascript">
    $('#begin_date_<%=time%>').datetimepicker({
        startView: 'decade',
        minView: 'year',
        autoclose: true,
        format: 'yyyy-mm-dd hh:ii:ss'
    });
    
    $('#end_date_<%=time%>').datetimepicker({
        startView: 'decade',
        minView: 'year',
        autoclose: true,
        format: 'yyyy-mm-dd hh:ii:ss'
    });
  </script>
<%end%>