<% provide(:title, "Spider Tasks") %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>任务列表</h5>
        </div>

        <div class="ibox-content pl15">
          <div class="bg-search">
           <% form_url = params.permit(:task_type, :action).clone
            %>
          <%=form_tag url_for(form_url),:class=>"-form-horizontal",:method=>:get do%>
              <div id="rcontent" class="clear-p">

                <div class="col-md-2">
                  <div class="form-group mb0">

                    <input type="text" placeholder="特殊标签" name="keyword" class="form-control pl40" value="<%= params[:keyword] %>">
                    <i class="search-line" ></i>
                    <i class="fa fa-search search-icon"></i></div>
                </div>
                <div class="col-md-3">
                  <div class="form-group mb0">
                    <%=select_tag(:spider_ids ,options_for_select(Spider.select("spider_name,id").collect{|x| [x.spider_name, x.id]},params["spider_ids"]),include_blank: "模板",:class=>"form-control chosen-select")%>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group mb0">
                    <%=select_tag(:category,options_for_select(Spider.categories.to_a,params["category"]),include_blank: "类别",:class=>"form-control chosen-select")%>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group mb0">
                    <%=select_tag(:status, options_for_select(SpiderTask.status_list.invert.to_a, params["status"]),include_blank: "状态",:class=>"form-control chosen-select")%>
                  </div>
                </div>

                <div class="ibox-tools dib">
                  <input type="submit" class="btn btn-primary btn-warning w70 mb0" value="搜索">
                  <!-- <a class="btn btn-primary btn-warning w70 mb0">
                    搜索</a> -->
                </div>
                <div class="ibox-tools fr">
                <div class="btn-group pull-left">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="fa fa-plus"></i>添加任务</button>
                    <ul class="dropdown-menu">
                        <li><a class='add-spider-task'>单次任务</a></li>
                        <li><a class='add-spider-cycle-task'>周期规则</a></li>
                    </ul>
                </div>
                </div>
              </div>

          <%end%>
          </div>
        </div>
        <div id="result_release">
         
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">
             <% url = params.permit(:controller, :action,:keyword,:category).clone
              %>
              <li class="tab-li <%= is_active_params(params, "task_type", nil) %>">
                <a href="<%= url_for(url.merge(:task_type => nil))%>" data-target="all-page">任务列表</a>
              </li>
              <li class="tab-li <%= is_active_params(params, "task_type", "0") %>">
                <a href="<%= url_for(url.merge(:task_type => 0))%>" data-target="cycle-page">周期规则</a>
              </li>
            </ul>
            
            <div class="ibox-content p15-0 all-page table-content <%=params[:task_type].blank? ? '': 'dn' %>">
              <%= render "list_body" %>
            </div>
           
            <div class="ibox-content p15-0 cycle-page  table-content <%=params[:task_type]=="0" ? '': 'dn' %> ">
              <%= render "cycle_list_body" %>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

<!--这里是提示框-->
<div id="modal-form-remove" class="modal fade in" aria-hidden="true">
  <div class="modal-dialog" style="width: 460px;top: 190px;">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="m-t-none m-b">提示</h3>
            <div class="hr-line-dashed"></div>
            <p class="text-center">
            <strong style="font-size: 14px;">您确定要删除<span class="remove-html"></span>吗？</strong></p>
            <div class="hr-line-dashed"></div>
            <div>
              <button class="btn btn-sm btn-primary pull-right m-t-n-xs sure-remove" type="button" style="margin-left: 20px;">
                                                                                     
                <strong>确定</strong></button>
              <button class="btn btn-sm btn-primary pull-right m-t-n-xs cancel-remove" type="button"  style="">
                                                                                      
                <strong>取消</strong></button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal-form-add-spider-task" class="modal fade in" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;overflow-y: auto;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加单次任务</h4>
      </div>
      <div class="modal-body">
        <!-- modal-body -->
        <%=render "spider_task_form"%>
      </div>
    </div>
    </div>
</div>
<div id="modal-form-add-spider-cycle-task" class="modal fade in" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;overflow-y: auto;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加周期任务</h4>
      </div>
      <div class="modal-body">
        <!-- modal-body -->
        <%=render "spider_cycle_task_form"%>
      </div>
    </div>
    </div>
</div>


<!--这里是提示框-->
<div id="modal-form-show-keyword" class="modal fade in" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <button type="button" id="copy_button" data-clipboard-target="#modal-form-show-keyword .keywords_list" class="btn btn-sm btn-primary pull-right m-t-n-xs" >复制</button>
        <h4 class="modal-title">关键词列表</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="hr-line-dashed"></div>
            <div class="keywords_list">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="modal-form-output" class="modal fade in" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">导出众包</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form action="/spider_tasks/output_csd" method="post" class="form-horizontal" accept-charset="utf-8">
              <input type="hidden" value="" name="id" id="output_spider_task_id"/>
              <input type="hidden" value="" name="spider_id" id="output_spider_id"/>
              <div class="form-group">
                <label class="col-sm-2 control-label">任务名称</label>
                <div class="col-sm-10">
                  <input type="text" value="" name="name" class="form-control"/>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">标签ID列表</label>
                <div class="col-sm-10">
                  <select name="tag_ids[]" class="chosen-select form-control" multiple tabindex="2" data-placeholder="请选择标签" id="dp_tag_ids">
                  </select>

                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="tags_inputs"></div>

              <div class="form-group">
                <label class="col-sm-2 control-label">数据切割</label>
                <div class="col-sm-10">
                  <input placeholder="每条切片对应的数据条数" class="form-control" required="required" type="text" name="record_count" id="task_release_record_count">
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">副本数</label>
                <div class="col-sm-10">
                  <select class="form-control m-b" name="replica_task_count" id="task_release_replica_task_count"><option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option></select>
                </div>
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-2 control-label">任务报酬</label>
                <div class="col-sm-10">
                  <input class="form-control" required="required" type="text" name="reward" id="task_release_reward">
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-2 col-sm-offset-10">
                  <button class="btn btn-primary submit_btn" type="submit">导出</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  <% content_for :javascript do %>
    <script>

$(document)
.on("click",".tab-li a",function(e){
  e.preventDefault();
  var $this = $(this);
  if ($this.find('.icon-result').length > 0) return;
  var targetClass = $this.data('target');
  var $thisP = $this.closest('.ibox-content');
  $this.closest('li').addClass('active').siblings('li').removeClass('active');
  $thisP.children('.ibox-content').addClass('dn');
  $thisP.children('.' + targetClass).removeClass('dn');
  $('.more-ul').addClass('dn');

  if (targetClass) {
    var url = $this.attr("href");
    if (url != "##") {
      $("#current_url").val(url);
      $.get(url, function (data) {
        $("." + targetClass).html(data);
        $("[data-toggle='tooltip']").tooltip();
      })
      return false;
    }
  }
})
.on("click",'.icon-more',function(e){
   e.preventDefault();
    var $this = $(this), $thisMoreUl = $this.closest('td').find('.more-ul');
    var isDn = $thisMoreUl.hasClass('dn');
    $('.more-ul').addClass('dn');
    if (isDn) {
      $thisMoreUl.removeClass('dn');
    }
    //点击其他的地方关闭更多
    $(document).on('click', function moreShow(e) {
      var $target = $(e.target)
        if ($target.closest('.pos-r').length == 0) {
          $('.more-ul').addClass('dn');
          $(document).off('click', moreShow);
        }
    })
})
.on("click",".remove-line",function(e){
  
    e.preventDefault();

    //删除本行数据
    //var _$this = $(this);
    var $this = $(this),html = $this.closest('tr').find('td').first().html();
    var $modal = $('#modal-form-remove');
    $modal.find('.remove-html').html(html);
    $modal.modal("show");

    $('.sure-remove').off().on('click', function (e) {
       e.preventDefault();
      var _this=$(this);
      //需要传到数据库中，需要后台传输数据，局部刷新页面
      var url = $this.attr("href");
      if (url != "##") {
        $.ajax({
          url: url,
          type: 'DELETE',
          success:function(data){
          if (data.type=="success"){
            _this.closest('.modal').modal("hide");
            $this.closest('tr').remove();
          }
        }});
      }
     
    });
  
}).on("click",'.cancel-remove',function(e){
   var $modal = $('#modal-form-remove');
      $modal.modal("hide");
});


$('.add-spider-task').on('click', function (e) {
  e.preventDefault();
  var $modal = $('#modal-form-add-spider-task');
  $modal.modal("show");
})
$('.add-spider-cycle-task').on('click', function (e) {
  e.preventDefault();
  var $modal = $('#modal-form-add-spider-cycle-task');
  $modal.modal("show");
})
$(".submit_btn").on('click', function (e) {
    $this = $(this);
    $form = $this.closest('form');
    var str = $form.find('.spider').val();
    if (str == ''){
    swal({
        title: "提示",
        text: "请选择爬虫模版！",
        type: "error",
    })
    }else{
      $form.submit();
    }
});

$('.add-sql').on('click', function (e) {
  e.preventDefault();
  var $modal = $('#modal-form-add-sql');
  $modal.modal("show");
})

window.setInterval(function(){
  var current_url = $("#current_url").val();
  var status = $(".task_status").find('span').text();
  var bool1 = !$('.all-page').hasClass('dn');
  //  && status.indexOf("执行中")!=-1
  if (bool1){
      $.ajax({
          url:current_url,
          type:'get',
          success:function(data){
            $(".all-page").find("[data-toggle='tooltip']").tooltip('destroy');
            $(".all-page").html(data);
            $(".all-page").find("[data-toggle='tooltip']").tooltip();
            var clipboard = new Clipboard('.keyword', {
              text: function(el) {
                var data = $(el).data('original-title')
                return data;
              }
            });
            clipboard.on('success', function(e) {
             toastr.success("复制成功");
            });
            clipboard.on('error', function(e) {
              console.log(e);
            });
          },
          complete: function (XHR, TS) { 
            XHR = null 
          } 
      });
    // $.get(current_url, function(data){
    //   $("[data-toggle='tooltip']").tooltip('destroy');
    //   $(".all-page").html(data);
    //   $("[data-toggle='tooltip']").tooltip();
    // })
  }
}, 10000);
$("[data-toggle='tooltip']").tooltip();
var clipboard = new Clipboard('.keyword', {
      text: function(el) {
        var data = $(el).data('original-title')
        return data;
      }
    });
    clipboard.on('success', function(e) {
     toastr.success("复制成功");
    });
    clipboard.on('error', function(e) {
      console.log(e);
    });
     $('.chosen-select').chosen({width: "100%",disable_search_threshold: 10000});



function show_keyword(id) {
  $.get("/tasks/show_keyword?id=" + id, function(data) {
    $("#modal-form-show-keyword .keywords_list").html(data);
    var $modal = $('#modal-form-show-keyword');
    $modal.modal("show");
  })
}

var clipboard1 = new Clipboard('#copy_button');
    clipboard1.on('success', function(e) {
     toastr.success("复制成功");
    });


function output_csd(id, spider_id) {
  $("#modal-form-output #output_spider_task_id").val(id);
  $("#modal-form-output #output_spider_id").val(spider_id);
  $.ajax({
    url: "/spiders/"+ spider_id +"/spider_tasks/"+ id + "/dp_tags",
    dataType: 'json'
  }).done(function(res){
    var tags = res.tags;
    var str = '';
    tags.forEach(function(tag){
      str += '<option value="' + tag[0] + '">' + tag[1] + '</option>'
    })
    $("#dp_tag_ids").html(str).trigger("chosen:updated");
    $("#modal-form-output").modal("show");
  })
}

    </script>
  <% end %>

