<% provide(:title, "Spider Tasks") %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>任务列表</h5>
        </div>

        <div class="ibox-content pl15">
          <div class="bg-search">
           <% form_url = params.permit(:task_type, :action).clone
            %>
          <%=form_tag url_for(form_url),:class=>"-form-horizontal",:method=>:get do%>
              <div id="rcontent" class="clear-p">

                <div class="col-md-9">
                  <div class="form-group mb0">

                    <input type="text" placeholder="特殊标签" name="keyword" class="form-control pl40" value="<%= params[:keyword] %>">
                    <i class="search-line" ></i>
                    <i class="fa fa-search search-icon"></i></div>
                </div>


                <div class="ibox-tools dib">
                  <input type="submit" class="btn btn-primary btn-warning w70 mb0" value="搜索">
                  <!-- <a class="btn btn-primary btn-warning w70 mb0">
                    搜索</a> -->
                </div>
                <div class="ibox-tools fr">
                <div class="btn-group pull-left">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="fa fa-plus"></i>添加任务</button>
                    <ul class="dropdown-menu">
                        <li><a class='add-spider-task'>单次任务</a></li>
                        <li><a class='add-spider-cycle-task'>周期规则</a></li>
                    </ul>
                </div>
<!--                     
                    <a class="btn btn-primary " href="#" >
                    按钮2</a> -->
                </div>
              </div>

          <%end%>
          </div>
        </div>
        <div id="result_release">
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">
           <% url = params.permit(:controller, :action,:keyword).clone
            %>
            <li class="tab-li <%= is_active_params(params, "task_type", nil) %>">
              <a href="<%= url_for(url.merge(:task_type => nil))%>" data-target="all-page">任务列表</a>
            </li>
            <li class="tab-li <%= is_active_params(params, "task_type", "0") %>">
              <a href="<%= url_for(url.merge(:task_type => 0))%>" data-target="cycle-page">周期规则</a>
            </li>
            </ul>

            <div class="ibox-content p15-0 all-page table-content <%=params[:task_type].blank? ? '': 'dn' %>">
              <%= render "list_body" %>
            </div>
            <div class="ibox-content p15-0 cycle-page  table-content <%=params[:task_type]=="0" ? '': 'dn' %> ">
              <%= render "cycle_list_body" %>
            </div>

        </div>
        </div>
      </div>
    </div>
    </div>
  </div>

<!--这里是提示框-->
<div id="modal-form-remove" class="modal fade in" aria-hidden="true">
  <div class="modal-dialog" style="width: 460px;top: 190px;">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="m-t-none m-b">提示</h3>
            <div class="hr-line-dashed"></div>
            <p class="text-center">
            <strong style="font-size: 14px;">您确定要删除<span class="remove-html"></span>吗？</strong></p>
            <div class="hr-line-dashed"></div>
            <div>
              <button class="btn btn-sm btn-primary pull-right m-t-n-xs sure-remove" type="button" style="margin-left: 20px;">
                                                                                     
                <strong>确定</strong></button>
              <button class="btn btn-sm btn-primary pull-right m-t-n-xs cancel-remove" type="button"  style="">
                                                                                      
                <strong>取消</strong></button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal-form-add-spider-task" class="modal fade in" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;overflow-y: auto;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加单次任务</h4>
      </div>
      <div class="modal-body">
        <!-- modal-body -->
        <%=render "spider_task_form"%>
      </div>
    </div>
    </div>
</div>
<div id="modal-form-add-spider-cycle-task" class="modal fade in" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;overflow-y: auto;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加周期任务</h4>
      </div>
      <div class="modal-body">
        <!-- modal-body -->
        <%=render "spider_cycle_task_form"%>
      </div>
    </div>
    </div>
</div>
  <% content_for :javascript do %>
    <script>

$(document)
.on("click",".tab-li a",function(e){
  e.preventDefault();
  var $this = $(this);
  if ($this.find('.icon-result').length > 0) return;
  var targetClass = $this.data('target');
  var $thisP = $this.closest('.ibox-content');
  $this.closest('li').addClass('active').siblings('li').removeClass('active');
  $thisP.children('.ibox-content').addClass('dn');
  $thisP.children('.' + targetClass).removeClass('dn');
  $('.more-ul').addClass('dn');

  if (targetClass) {
    var url = $this.attr("href");
    if (url != "##") {
      $("#current_url").val(url);
      $.get(url, function (data) {
        $("." + targetClass).html(data);
      })
      return false;
    }
  }
})
.on("click",'.icon-more',function(e){
   e.preventDefault();
    var $this = $(this), $thisMoreUl = $this.closest('td').find('.more-ul');
    var isDn = $thisMoreUl.hasClass('dn');
    $('.more-ul').addClass('dn');
    if (isDn) {
      $thisMoreUl.removeClass('dn');
    }
    //点击其他的地方关闭更多
    $(document).on('click', function moreShow(e) {
      var $target = $(e.target)
        if ($target.closest('.pos-r').length == 0) {
          $('.more-ul').addClass('dn');
          $(document).off('click', moreShow);
        }
    })
})
.on("click",".remove-line",function(e){
  
    e.preventDefault();

    //删除本行数据
    //var _$this = $(this);
    var $this = $(this),html = $this.closest('tr').find('td').first().html();
    var $modal = $('#modal-form-remove');
    $modal.find('.remove-html').html(html);
    $modal.modal("show");

    $('.sure-remove').off().on('click', function (e) {
       e.preventDefault();
      var _this=$(this);
      //需要传到数据库中，需要后台传输数据，局部刷新页面
      var url = $this.attr("href");
      if (url != "##") {
        $.ajax({
          url: url,
          type: 'DELETE',
          success:function(data){
          if (data.type=="success"){
            _this.closest('.modal').modal("hide");
            $this.closest('tr').remove();
          }
        }});
      }
     
    });
  
}).on("click",'.cancel-remove',function(e){
   var $modal = $('#modal-form-remove');
      $modal.modal("hide");
});


$('.add-spider-task').on('click', function (e) {
  e.preventDefault();
  var $modal = $('#modal-form-add-spider-task');
  $modal.modal("show");
})
$('.add-spider-cycle-task').on('click', function (e) {
  e.preventDefault();
  var $modal = $('#modal-form-add-spider-cycle-task');
  $modal.modal("show");
})

    </script>
  <% end %>

