<tr>
  <td><%= inx["index"]%></td>
  <td><%= raw es_index_health(inx["health"]) %></td>
  <td><%= inx["status"] %></td>
  <td><%= inx["pri"] %></td>
  <td><%= inx["rep"] %></td>
  <td><%= inx["docs.count"] %></td>
  <td><%= inx["store.size"] %></td>
  <td class="pos-r">
    <a href="##">
      <i class="icon_data_analysis icon-more"></i>
    </a>
    <ul class="more-ul dn">
      <li class="bor-b">
        <%= link_to "重建","/lucene/reset?id=#{inx["index"]}",:class=>"reset-line"%>
      </li>
      <li>
        <%= link_to "删除","/lucene/remove?id=#{inx["index"]}",:class=>"remove-line"%>
      </li>
    </ul>
  </td>
</tr>