<tr>
  <td><%= obj[0]%></td>
  <td><%= obj[1] %></td>
  <td><%= obj[2] %></td>
  <td><%= obj[3] %></td>
  <td><%= obj[4] %></td>
  <td><%= obj[5] %></td>
  <td class="pos-r">
    <a href="##">
      <i class="icon_data_analysis icon-more"></i>
    </a>
    <ul class="more-ul dn">
      <li class="bor-b"><a href="#">详情</a></li>
      <li class="bor-b"><a href="#" class="remove-line">删除</a></li>
       <li>
       <li>
       <%= link_to({:action => 'load_edit_form',:id=>rand(0..1000)},:class=>"edit",:remote=>true) do%>编辑<%end%></li>
       </li>
    </ul>
  </td>
</tr>