<% provide(:title, "Register") %>
<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">AC</h1>

        </div>
        <h3>Register to ArchonCenter</h3>
        <%= form_for(@user,:class=>"m-t",:role=>"form") do |f| %>
            <div class="form-group">
                <%= f.email_field :email,:placeholder=>"Email",:class=>"form-control",:required=>true %>
            </div>
             
            <div class="form-group">
               <%= f.text_field :name,:placeholder=>"Name",:class=>"form-control",:required=>true %>  
            </div>
            <div class="form-group">
                 <%= f.password_field :password,:placeholder=>"Password",:class=>"form-control",:required=>true %>
            </div>
            <div class="form-group">
                 <%= f.password_field :password_confirmation,:placeholder=>"Password Confirmation",:class=>"form-control",:required=>true %>
            </div>
<!--             <div class="form-group">
                <div class="checkbox"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
            </div> -->
            <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <%=link_to "Login",login_path,:class=>"btn btn-sm btn-white btn-block"%>
        <% end %>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2017-2018</small> </p>
    </div>
</div>

