<% provide(:title, "Dashboard") %>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">Today</span>
          <h5>今日任务数量</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%=@today_task_count.to_i%></h1>
          <!-- <div class="stat-percent font-bold text-success">99% <i class="fa fa-bolt"></i></div> -->
          <small></small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-info pull-right">Success</span>
          <h5>今日成功任务</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%=@today_completed_count.to_i%></h1>
          <!-- <div class="stat-percent font-bold text-info">1% <i class="fa fa-level-up"></i></div> -->
          <small></small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Running</span>
          <h5>执行中任务</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%=@runing_count.to_i%></h1>
          <!--  <div class="stat-percent font-bold text-navy">100% </div> -->
          <small></small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-danger pull-right">Fail</span>
          <h5>今日失败任务</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%=@today_discard_count.to_i%></h1>
          <!--   <div class="stat-percent font-bold text-danger">4% <i class="fa fa-level-down"></i></div> -->
          <small></small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">All</span>
          <h5>历史全部任务</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%=@task_count.to_i%></h1>
          <div class="stat-percent font-bold text-success"></div>
          <small></small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-info pull-right">Success</span>
          <h5>成功任务</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%=@completed_count.to_i%></h1>
          <div class="stat-percent font-bold text-info"></div>
          <small></small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Total</span>
          <h5>获取数据量</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%=@data_count.to_i%></h1>
          <div class="stat-percent font-bold text-danger"></div>
          <small></small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-danger pull-right">Fail</span>
          <h5>失败任务</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%=@discard_count.to_i%></h1>
          <div class="stat-percent font-bold text-navy"></div>
          <small></small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>最新任务完成清单</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <table class="table table-hover no-margins">
                <thead>
                  <tr>
                    <th>状态</th>
                    <th>时间</th>
                    <th>类型</th>
                    <th>爬虫</th>
                  </tr>
                </thead>
                <tbody>
                  <%@spider_tasks.each do |spider_task|%>
                    <tr>
                      <td><span class="label label-primary"><%=raw status_html(spider_task)%></span> </td>
                      <td><i class="fa fa-clock-o"></i> <%=show_format_time(spider_task.created_at)%></td>
                      <td><%=spider_task.spider.category_cn%></td>
                      <td class="text-navy"> <%=spider_task.spider.spider_name%></td>
                    </tr>
                  <%end%>
                  <!--  <tr>
                    <td><span class="label label-primary">完成</span> </td>
                    <td><i class="fa fa-clock-o"></i> <%=Time.now.strftime("%H:%M")%></td>
                    <td>Social</td>
                    <td class="text-navy"> FB时间线</td>
                  </tr>
                  <tr>
                    <td><span class="label label-primary">完成</span> </td>
                    <td><i class="fa fa-clock-o"></i> <%=1.minutes.ago.strftime("%H:%M")%></td>
                    <td>Social</td>
                    <td class="text-navy"> FB时间线</td>
                  </tr>
                  <tr>
                    <td><span class="label label-primary">完成</span> </td>
                    <td><i class="fa fa-clock-o"></i> <%=2.minutes.ago.strftime("%H:%M")%></td>
                    <td>Social</td>
                    <td class="text-navy"> TW时间线</td>
                  </tr>
                  <tr>
                    <td><span class="label label-primary">完成</span> </td>
                    <td><i class="fa fa-clock-o"></i> <%=3.minutes.ago.strftime("%H:%M")%></td>
                    <td>Social</td>
                    <td class="text-navy"> TW搜索 </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>预警任务</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <table class="table table-hover no-margins">
                <thead>
                  <tr>
                    <th>状态</th>
                    <th>时间</th>
                    <th>爬虫</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="label label-warning">疑似解析失败</span> </td>
                    <td><i class="fa fa-clock-o"></i> <%=2781.minutes.ago.strftime("%H:%M")%></td>
                    <td class="text-navy"> 密西西比大学官网</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>