<tr>
  <td><%= k%></td>
  <td data-toggle="tooltip"  data-container="body" data-placement="bottom" title="<%=v%>"><%= truncate_utf((v.class.to_s=="String"? v : v.to_json),50,"...")%></td>

  <td class="pos-r">
    <a href="##">
      <i class="icon_data_analysis icon-more"></i>
    </a>
    <ul class="more-ul dn">
<!--       <li class="bor-b">
       <%#= link_to(spider_spider_tasks_path(spider)) do%>任务<%#end%>
      </li> -->
      <li class="bor-b">
       <%= link_to(load_edit_form_settings_path(:setting_key=>k),:class=>"edit",:remote=>true) do%>编辑<%end%>
       </li>
      <li>
        <%=link_to(setting_path(k),:class=>"remove-line") do%>删除<%end%>
      </li>

    </ul>
  </td>
</tr>
