<tr>
  <td><%= media_account.name%></td>
  <td><%= media_account.slg %></td>
  <td><%= media_account.fmt %></td>
  <td><%= media_account.frp %></td>
  <td data-toggle="tooltip"  data-container="body" data-placement="bottom" title="<%=media_account.de%>"><%= truncate_utf(media_account.de,20,"...") %></td>
  <td><%= media_account.mri %></td>
</tr>