<tr>
  <td><%= media_account.name%></td>
  <td><%= try_translate_language_cn(media_account.slg) %></td>
  <td><%= try_translate_type_cn(media_account.fmt) %></td>
  <td><%= media_account.frp %></td>
  <td data-toggle="tooltip"  data-container="body" data-placement="bottom" title="<%=media_account.de%>"><%= truncate_utf(media_account.de,20,"...") %></td>
  <!--  <td><%#media_account.mri %></td> -->
</tr>