<%if !@codes.blank?%>
  <table class="table table-striped table-bordered table-hover table-vcenter">
    <thead>
      <tr>
        <th class="text-center">名称</th>
        <th class="text-center">GOPATH</th>
        <th class="text-center">代码路径</th>
        <th class="text-center">当前分支</th>
        <th class="text-center">编译时间</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <% @codes.each do |code| %>
        <tr>
          <td class="text-center"><%= code.name %></td>
          <td class="text-center"><%= code.go_path%></td>
          <td class="text-center"><%= code.code_path%></td>
          <td class="text-center"><%= code.current_branch%></td>
          <td class="text-center"><%= code.updated_at%></td>
          <td class="pos-r">
            <a href="/service_codes/compile?name=<%= code.name %>">
              编译
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%else%>
  <%= render "shared/no_data" %>
<%end%>
