<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <% image = current_user.avatar.url rescue "profile_small.jpg" %>
            <%= image_tag(image, class: "img-circle", style: "width:50px;height:50px") %>
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
              </span> <span class="text-muted text-xs block"><%= current_user.name rescue "Guest" %>
                <b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <% if !@current_user.blank? %>
              <!--<li>-->
                <!--<%#= link_to "修改头像", edit_user_avatar_path(current_user) %>-->
              <!--</li>-->
              <li><%= link_to "修改信息", edit_user_path(current_user) %>
              </li>
              <li class="divider"></li>
              <li><%= link_to logout_path, :method => :delete do %>退出
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="logo-element">
          Center
        </div>
      </li>
      <li class="<%= is_active_controller('dashboards') %>">
        <a href=""><i class="fa fa-bug"></i> <span class="nav-label">数据统计</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse <%= is_active_controller('dashboards') %>">
          <li class="<%= is_active_action('index', 'dashboards') %>"><%= link_to "数据概览", "/dashboards/" %></li>
        </ul>
      </li>
      <li class="<%= is_active_controller('data_centers') %>">
        <a href=""><i class="fa fa-database"></i> <span class="nav-label">数据中心</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse <%= is_active_controller('data_centers') %>">
          <li class="<%= is_active_action('index', 'data_centers') %>"><%= link_to "数据查询", "/data_centers" %></li>
        </ul>
      </li>

      <li class="<%= is_active_controller('spiders') ||  is_active_controller('spider_tasks')%>">
        <a href=""><i class="fa fa-tasks"></i> <span class="nav-label">任务中心</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse <%= is_active_controller('spiders') %>">
          <li class="<%= is_active_action('index', 'spiders') %>"><%= link_to "爬虫定时配置", spiders_path %></li>
          <li class="<%= is_active_action('index', 'spider_tasks') %>"><%= link_to "任务执行情况", spider_tasks_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>