<%if !@results.blank?%>
  <table class="table table-striped table-bordered table-hover table-vcenter">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Screen Name</th>
        <th class="text-center">Name</th>
        <th class="text-center">创建时间</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <% @results.each do |record| %>
        <tr>
          <td><a href="/data_centers/record_details?table_name=<%= params[:table_name] %>&id=<%= record.id %>" target="_blank"><%= record.id %></a></td>
          <td><%= Time.at(record.created_at).to_s.gsub("+0800", "") rescue nil%></td>
          <td><%= record.screen_name rescue nil%></td>
          <td><%= record.name rescue nil%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= link_to_prev_page @results, '上一页' %>
    <%= link_to_next_page @results, '下一页' %>
  </div>
<%else%>
  <%= render "shared/no_data" %>
<%end%>
