<% provide(:title, "Spiders") %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>数据列表</h5>
        </div>
        <div class="ibox-content pl15">
          <% is_fuzzy_search = params[:search_type] == "fuzzy" %>
          <div class="tabs-container">
            <ul class="nav nav-tabs">
              <li class="<%= is_fuzzy_search ? '' : 'active' %>">
                <a data-toggle="tab" href="#tab_search_form_1">精确搜索</a>
              </li>
              <li class="<%= is_fuzzy_search ? 'active' : '' %>">
                <a data-toggle="tab" href="#tab_search_form_2">模糊搜索</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="tab_search_form_1" class="tab-pane fade <%= is_fuzzy_search ? '' : 'active' %>">
                <%=form_tag url_for(action: :index),:class=>"-form-horizontal",:method=>:get do%>
                  <div class="clear-p">
                    <div class="col-md-4">
                      <div class="form-group mb0">
                        <input type="text" placeholder="爬虫名" name="keyword" class="form-control" value="<%= params[:keyword] %>">
                       </div>
                    </div>
                    <div class="ibox-tools dib">
                      <input type="submit" class="btn btn-primary btn-warning w70 mb0" value="搜索">
                    </div>
                  </div>
                <%end%>
              </div>
              <div id="tab_search_form_2" class="tab-pane fade <%= is_fuzzy_search ? 'active' : '' %>">
                <%=form_tag url_for(action: :index),:class=>"-form-horizontal",:method=>:get do%>
                  <input type="hidden" name="search_type" value="fuzzy">
                  <div class="clear-p">
                    <div class="col-md-4">
                      <div class="form-group mb0">
                        <input type="text" placeholder="爬虫名" name="keyword" class="form-control" value="<%= params[:keyword] %>">
                       </div>
                    </div>
                    <div class="ibox-tools dib">
                      <input type="submit" class="btn btn-primary btn-warning w70 mb0" value="搜索">
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
          <div class="bg-search">
          </div>
        </div>
        <div id="result_release">
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">
              <li class="tab-li active">
                <a href="#" data-target="all-page">列表信息</a>
              </li>
            </ul>
            <div class="ibox-content p15-0 all-page table-content">
              <%#= render "list_body" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

<% end %>

