<% provide(:title, "Spiders") %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>数据列表</h5>
        </div>
        <div class="ibox-content pl15">
          <% is_fuzzy_search = params[:search_type] == "fuzzy" %>
          <div class="tabs-container top-search-box">
            <ul class="nav nav-tabs">
              <li class="<%= is_fuzzy_search ? 'active' : '' %>">
                <a data-toggle="tab" href="#tab_search_form_2">模糊搜索</a>
              </li>
              <li class="<%= is_fuzzy_search ? '' : 'active' %>">
                <a data-toggle="tab" href="#tab_search_form_1">精确搜索</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="tab_search_form_2" class="tab-pane fade <%= is_fuzzy_search ? 'active in' : '' %>">
                <%=form_tag url_for(action: :index),:class=>"-form-horizontal",:autocomplete=>"off",:method=>:get do%>
                  <input type="hidden" name="search_type" value="fuzzy">
                  <div class="clear-p">
                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="form-control-label">检索内容：</div>
                        <input type="text" placeholder="请输入内容" name="keyword" class="form-control" value="<%= params[:keyword] %>">
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <div class="form-control-label">&nbsp;</div>
                        <div>
                          <input type="submit" class="btn btn-primary btn-warning w100" value="模糊搜索">
                          <div class="pull-right">
                            <%= render 'download_button' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <%end%>
              </div>
              <div id="tab_search_form_1" class="tab-pane fade <%= is_fuzzy_search ? '' : 'active in' %>">
                <%=form_tag url_for(action: :index),:class=>"-form-horizontal",:autocomplete=>"off",:method=>:get do%>
                  <input type="hidden" name="search_type" value="accurate">
                  <div class="clear-p daterange-wrap">
                    <div class="col-md-2">
                      <div class="form-group">
                        <div class="form-control-label">开始日期：</div>
                        <input type="text" name="start_date" value="<%= params[:start_date].present? ? params[:start_date] : Date.today - 1.month %>" class="form-control datepicker-input" placeholder="开始日期" autocomplete="off">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <div class="form-control-label">结束日期：</div>
                        <input type="text" name="end_date" value="<%= params[:end_date].present? ? params[:end_date] : Date.today %>" class="form-control datepicker-input" placeholder="结束日期" autocomplete="off">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <div class="form-control-label">作者：</div>
                        <input type="text" name="con_author" value="<%= params[:con_author] %>" class="form-control datepicker-input" placeholder="请输入内容" autocomplete="off">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <div class="form-control-label">爬虫名：</div>
                        <select name="spider_name" class="chosen-select form-control">
                          <option value="">不限</option>
                          <% @spiders.map{|x| x[0]}.each do |spider_name| %>
                            <option value="<%= spider_name%>"  <%= 'selected' if spider_name.to_s == params[:spider_name]%>><%= spider_name%></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <div class="form-control-label">网站名：</div>
                        <select name="website_name" class="chosen-select form-control">
                          <option value="">不限</option>
                          <% @spiders.map{|x| x[1]}.each do |website_name| %>
                              <option value="<%= website_name%>"  <%= 'selected' if website_name.to_s == params[:website_name]%>><%= website_name%></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <div class="form-control-label">文章标题：</div>
                        <input type="text" name="con_title" value="<%= params[:con_title] %>" class="form-control datepicker-input" placeholder="请输入内容" autocomplete="off">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <div class="form-control-label">&nbsp;</div>
                        <div>
                          <input type="submit" class="btn btn-primary btn-warning w100" value="精确搜索">
                          <div class="pull-right">
                            <%= render 'download_button' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
        <div id="result_release">
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">
              <li class="tab-li active">
                <a href="#" data-target="all-page">列表信息(<%= @datas.total_count %>)</a>
              </li>
            </ul>
            <div class="ibox-content p15-0 all-page table-content">
              <%= render "list_body" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/bootstrap_datepicker' %>

<% content_for :javascript do %>
  <script>
    $(function() {
      initDateRangePicker($('.daterange-wrap'));
      $('.chosen-select').chosen({
        width: "100%",
        disable_search_threshold: 10,
        search_contains: true,
        no_results_text: "未匹配到关键词："
      });
    });
  </script>
<% end %>

