<%if !@accounts.blank?%>
  <table class="table table-striped table-bordered table-hover table-vcenter">
    <thead>
      <tr>
        <th class="text-center">账号/Token</th>
        <th class="text-center">类型</th>
        <th class="text-center">所属模板</th>
        <th class="text-center">有效期</th>
        <th class="text-center">是否有效</th>
        <th class="text-center">创建时间</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <% @accounts.each do |account| %>
        <tr>
          <td class="text-center"  data-toggle="tooltip"  data-container="body" data-placement="bottom"  title='<%=account.content%>'><%= truncate(account.content, :length => 40, :omission => "..." , :escape => false)%></td>
          <td class="text-center"><%= account.account_type_cn%></td>
          <td class="text-center"><%= account.control_template.name%></td>
          <td class="text-center"><%= show_format_time(account.valid_time)%></td>
          <td class="text-center"><%= account.is_valid?%></td>
          <td class="text-center"><%= show_format_time(account.created_at)%></td>
          <td class="pos-r">
            <a href="##">
              <i class="icon_data_analysis icon-more"></i>
            </a>
            <ul class="more-ul dn">
              <li>
                 <%=link_to(account_path(account),:class=>"remove-line") do%>删除<%end%>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @accounts%>
  </div>
<%else%>
  <%= render "shared/no_data" %>
<%end%>
